<h1>Realiza tu registro</h1>
<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Tu carrito</span>
            <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Nombre del producto</h6>
                    <small class="text-muted">Breve descripción</small>
                </div>
                <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Segundo producto</h6>
                    <small class="text-muted">Breve descripción</small>
                </div>
                <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Tercer producto</h6>
                    <small class="text-muted">Breve descripción</small>
                </div>
                <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Código promocional</h6>
                    <small>EJEMPLO CÓDIGO</small>
                </div>
                <span class="text-success">−$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (MX)</span>
                <strong>$200</strong>
            </li>
        </ul>

        <form class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redimir</button>
            </div>
        </form>
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Dirección de Envio</h4>
        <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Se requiere un nombre valido.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Se requiere un apellido valido.
                    </div>
                </div>

                <div class="col-12">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" id="username" placeholder="Username" required>
                        <div class="invalid-feedback">
                            Tu nombre de usuario es obligatorio.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Correo eléctronico <span class="text-muted">(Opcional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Ingrese una dirección de correo electrónico válida para recibir actualizaciones de envío.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Por favor introduzca su direccion de envio.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address2" class="form-label">Dirección 2 <span class="text-muted">(Opcional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>

                <div class="col-md-5">
                    <label for="country" class="form-label">País</label>
                    <select class="form-select" id="country" required>
              <option value="">Escoger...</option>
              <option>México</option>
            </select>
                    <div class="invalid-feedback">
                        Seleccione un país válido.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="state" class="form-label">Estado</label>
                    <select class="form-select" id="state" required>
                <option selected="">Escoger...</option>
                <option>Aguascalientes</option>
                <option>Baja California</option>
                <option>Baja California Sur</option>
                <option>Campeche</option>
                <option>Coahuila de Zaragoza</option>
                <option>Colima</option>
                <option>Chiapas</option>
                <option>Chihuahua</option>
                <option>Distrito Federal</option>
                <option>Durango</option>
                <option>Guanajuato</option>
                <option>Guerrero</option>
                <option>Hidalgo</option>
                <option>Jalisco</option>
                <option>México</option>
                <option>Michoacán de Ocampo	</option>
                <option>Morelos</option>
                <option>Nayarit	</option>
                <option>Nuevo León</option>
                <option>Oaxaca</option>
                <option>Puebla</option>
                <option>Querétaro</option>
                <option>Quintana Roo</option>
                <option>San Luis Potosí</option>
                <option>Sinaloa</option>
                <option>Sonora</option>
                <option>Tabasco</option>
                <option>Tamaulipas</option>
                <option>Tlaxcala</option>
                <option>Veracruz de Ignacio de la Llave</option>
                <option>Yucatán</option>
                <option>Zacatecas</option>
            </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip" class="form-label">C.P.</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Código postal requerido.
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="same-address">
                <label class="form-check-label" for="same-address">La dirección de envío es la misma que mi dirección de facturación</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="save-info">
                <label class="form-check-label" for="save-info">Guarde esta información para la próxima vez</label>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Pago</h4>

            <div class="my-3">
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                    <label class="form-check-label" for="credit">Tarjeta de credito</label>
                </div>
                <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="debit">Tarjeta de debito</label>
                </div>
                <div class="form-check">
                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="paypal">PayPal</label>
                </div>
            </div>

            <div class="row gy-3">
                <div class="col-md-6">
                    <label for="cc-name" class="form-label">Nombre en la tarjeta
                    </label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                    <small class="text-muted">Nombre completo como se muestra en la tarjeta</small>
                    <div class="invalid-feedback">
                        Se requiere el nombre en la tarjeta
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cc-number" class="form-label">Número de Tarjeta de Crédito</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                    <div class="invalid-feedback">
                        Se requiere el número de tarjeta de crédito </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-expiration" class="form-label">Vencimiento</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                    <div class="invalid-feedback">
                        Se requiere fecha de vencimiento </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                    <div class="invalid-feedback">
                        Código de seguridad requerido

                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar a la comprobación</button>