<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-info">
                    DIstribuidora y Comercio de Medicamentos (DICOMED)
                </div>
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <h1 align="center">SEGUIMIENTO DE ENVÍOS</h1>
                            </ul>
                            <img src="assets/LOGO.png" align="right " width="90" height="70">
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- <div align="center">
    <img src="assets/logistic.jpg" width="1100" height="350">
</div> -->

<body>

    <div class="row">
        <div class="container-fluid">
            <div class="col-12 bg-light">
                <nav>

                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-salidas" role="tab" aria-controls="nav-home" aria-selected="true">Seguimiento de envíos</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-oc" role="tab" aria-controls="nav-profile" aria-selected="false">Ordenes de compra</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-productos" role="tabpanel" aria-labelledby="nav-home-tab">
                        <ng2-smart-table (userRowSelect)="verSalida($event)" class="table table-hover table-striped table-borderless" [source]="salidas" [settings]="settings2"> </ng2-smart-table>
                    </div>
                    <div class="tab-pane fade" id="nav-entradas" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <ng2-smart-table (userRowSelect)="verSalida($event)" class="table table-hover table-striped table-borderless" [source]="salidas" [settings]="settings3"></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<div bsModal #myModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Nombre: {{ salida.nombre }}<br> Descripción: {{ salida.descripcion }}
                </h4>
                <button type="button" class="close" (click)="myModal2.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="status-tab" data-toggle="pill" href="#status" role="tab" aria-controls="status" aria-selected="true">1 - Status</a>
                            <a class="nav-link" id="documentos-tab" data-toggle="pill" href="#documentos" role="tab" aria-controls="documentos" aria-selected="false">2 - Documentos</a>
                            <a class="nav-link" id="cierre-tab" data-toggle="pill" href="#cierre" role="tab" aria-controls="cierre" aria-selected="false">3 - Cierre</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status">
                                <div class="row">
                                    <div class="col-12" [formGroup]="statusForm">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Status Actual</label>
                                            <select [formControl]="statusForm.get('status')" class="form-control" id="exampleFormControlSelect1">
                                          <option value="EN CAMINO">EN CAMINO</option>
                                          <option value="ENTREGADO">ENTREGADO</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary float-right" (click)="cambiarStatus()">Guardar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let doc of documentosPosibles">
                                        <i *ngIf="doc.id_cat_documento == documentosSubidos.length + 1" class="fas fa-check text-success"></i>
                                        <i *ngIf="doc.id_cat_documento != documentosSubidos.length + 1" class="fas fa-times text-danger"></i> {{ doc.nombre }}
                                        <div class="form-group">
                                            <input type="file" (change)="onFileSelect($event, doc.id_cat_documento)" *ngIf="doc.id_cat_documento == documentosSubidos.length + 1" class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div>
                                            <button (click)="subirDocumento()" class="btn btn-primary float-right">Subir</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="cierre" role="tabpanel" aria-labelledby="cierre">
                                <label>ORDEN CERRADA</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal2.hide(); cleanClass();">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #r="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Atención!</h4>
                <button type="button" class="close" (click)="r.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{ respuesta.mensaje }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="r.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->