<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    DIstribuidora y Comercio de Medicamentos (DICOMED)
                </div>
                <div class="card-body">
                    <nav class="navbar navbar-expand-lg navbar-light bg-info">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/pantallaprincipal/inicio">Inicio<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Registrarse</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<h1 align="center">
    <b>Logistica</b></h1>
<br>
<div align="center">
    <img src="assets/logistic.jpg" width="1100" height="350">
</div>

<br>
<h2 align="center">Seguimiento de envíos</h2>

<br>

<body>
    <div class="container-fluid">
        <h1 align="center"><b>Logistica de productos</b></h1>


        <ng2-smart-table (userRowSelect)="verSalida($event)" class="table table-hover table-striped table-borderless" [source]="salidas" [settings]="settings2"></ng2-smart-table>    
    </div>

    <div bsModal #myModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                  Nombre: {{ salida.nombre }}<br>
                  Descripción: {{ salida.descripcion }}
              </h4>
              <button type="button" class="close" (click)="myModal2.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="status-tab" data-toggle="pill" href="#status" role="tab" aria-controls="status" aria-selected="true">1 - Status</a>
                        <a class="nav-link" id="documentos-tab" data-toggle="pill" href="#documentos" role="tab" aria-controls="documentos" aria-selected="false">2 - Documentos</a>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status">
                            <div class="row">
                                <div class="col-12" [formGroup]="statusForm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Status Actual</label>
                                        <select [formControl]="statusForm.get('status')" class="form-control" id="exampleFormControlSelect1">
                                          <option value="EN CAMINO">EN CAMINO</option>
                                          <option value="ENTREGADO">ENTREGADO</option>
                                        </select>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary float-right" (click)="cambiarStatus()">Guardar</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let doc of documentosPosibles">
                                    <!-- <i class="fas fa-check text-success"></i> -->
                                    <i class="fas fa-times text-danger"></i>
                                    {{ doc.nombre }}
                                </li>
                              </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="myModal2.hide(); cleanClass();">Cerrar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div bsModal #r="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">¡Atención!</h4>
              <button type="button" class="close" (click)="r.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{ respuesta.mensaje }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="r.hide()">Cerrar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


</body>