<h1>Listado de Proveedores</h1>
<br>
<body>

    <div class="container">
        <p> Búsqueda de Proveedor:
            <input type="search" name="busquedaproveedor" placeholder="Proveedor">
            <input class="btn btn-light mr-2" type="submit" value="Buscar">
        </p>
    </div>

    <div class="container">

        <table class="table text-center table-bordered">

            <thead class="thead-dark">

                <!--  -->

                <tr>
                    <th scope="col">ID_PROVEEDOR</th>
                    <th scope="col ">NOMBRE</th>
                    <th scope="col">RAZON SOCIAL</th>
                    <th scope="col">EMPRESA</th>
                    <th scope="col">DOCUMENTACION</th>
                    <th scope="col">SOLICITUD</th>
                    <th scope="col">CUENTA BANCARIA</th>
                    <th scope="col">TELEFONO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>JOSE</td>
                    <td></td>
                    <td>@mdo</td>
                    <th scope="row">S</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 4894</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>CARLOS</td>
                    <td></td>
                    <td>@fat</td>
                    <th scope="row">N</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 7850</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>CRISTINA</td>
                    <td></td>
                    <td>DICOMED</td>
                    <th scope="row">N</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 296 3318</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>FERNANDO</td>
                    <td></td>
                    <td>DICOMED</td>
                    <th scope="row">S</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 4587</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Larry</td>
                    <td></td>
                    <td>DICOMED</td>
                    <th scope="row">N</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 4509</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td></td>
                    <td>@twitter</td>
                    <th scope="row">S</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 4554</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>GERARDO</td>
                    <td></td>
                    <td>DICOMED</td>
                    <th scope="row">S</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 4588</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>JAIME</td>
                    <td></td>
                    <td>DICOMED</td>
                    <th scope="row">N</th>
                    <td>S</td>
                    <td>XXXXXXXXXX</td>
                    <td>618 123 4565</td>
                </tr>

            </tbody>

        </table>

        <input class="btn btn-primary mr-2" type=button value="Editar">
        <input class="btn btn-danger mr-2" type=button value="Borrar">
        <a href="proveedores/agregar" class="btn btn-success mr-2" type=button> Añadir</a>


    </div>

</body>